* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background: rgba(0, 0, 0, .65) url(./assets/img/header-background.gif);
  background-blend-mode: darken;
  background-position: 50% 35%;
  background-size: cover;
  color: white;
}

body {
  background-color: rgb(229 231 235);
}

nav {
  background-color: rgba(0, 0, 0, .50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 1rem;
  position: relative;
  width: 70%;
  display: flex;
  justify-content: end;
}

.search-icon {
  position: absolute;
  z-index: 1;
  padding: 7px 15px;
}

input, textarea {
  padding: 10px 15px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  appearance: none;
  border-radius: 0.5rem;
  line-height: 1.25;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  position: relative;
  border: none;
}

input:focus, textarea:focus {
  outline: none;

}

button {
  padding: 5px 25px;
}

.title {
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.card {
  padding: 1rem;
  z-index: 2;
  width: 18rem;
  height: 25rem;
  background-color: white;
  border-radius: 0.375rem;
  border: 2px gray solid;
  cursor: pointer;
  position: relative;
  color: #374151;
  transition: .3s ease-out;
}

.card:hover {
  transform: scale(1.01);
  transition: .3s ease-in;
}

.active-note .archieve > h1 {
  margin-top: 1rem;
}

.container {
  width: 100%;
  padding: 0 6rem;
}

.create-note {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-note {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  position: relative;
}

.title-note > p {
  position: absolute;
  right: 1rem;
}

.create-note > textarea, .create-note > button {
  margin-top: 1rem;
  height: 100%;
  width: 50%;
}

button {
  border-radius: 0.5rem;
  background-color: rgb(156 163 175);
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 0;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover {
  background-color: rgb(107 114 128);
  transition: 0.3s ease-in;
}

.create-note > p {
  margin-top: 1rem;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 70%;
}

.card-button > button {
  width: 100%;
}

.card-title {
  font-weight: 600;
}

.description {
  color: #374151;
}

.card-date {
  margin: 0.5rem 0;
  color: gray;
}

.modal-container {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal {
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
  padding: 3rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.card-button > button:first-child {
  background-color: #fbbf24;
}

.card-button > button:first-child:hover {
  background-color: #f59e0b;
}

.card-button > button {
  background-color: #ef4444;
}

.card-button > button:hover {
  background-color: #dc2626;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  color: #374151;
  margin-bottom: 1rem;
}

.modal-header > p:first-child {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 2rem;
  }
  .title-note {
    width: 70%;
  }
  .search-bar {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 3rem;
  }
  .card-button {
    position: relative;
  }
  .create-note > textarea, .create-note > input, .create-note > button {
    width: 70%;
  }
  .search-bar {
    width: 100%;
  }
  .modal {
    padding: 1rem;
  }
  .modal-header {
    flex-direction: column;
  }
}